body {
    overscroll-behavior: none;
    touch-action: auto;
}

#pdf-viewport {
    touch-action: auto;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: auto;
    background: #18181b;
    cursor: grab;
}

#pdf-content {
    display: block;
    margin: 0 auto;
    will-change: width;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    max-width: none;
}

#ui-overlay {
    transform-origin: 0 0;
    will-change: transform, opacity;
    transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100vw;
    height: 100vh;
}

#bottom-bar {
    transform-origin: center bottom;
}

/* Oculta scrollbar mas mantém funcionalidade */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}