html, body {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    padding: 0;
}
@media (min-width: 1024px) {
    body {
        padding: 1rem;
    }
}
#viewer-area {
    width: 100%;
    position: relative;
    flex-grow: 1; /* Essencial para o layout flexível */
    min-height: 0;
}
#flipbook-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#flipbook, #zoom-view-container {
    width: 100%;
    height: 100%;
}
#flipbook .page, #zoom-view-container .page {
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: grab;
}
#flipbook .page canvas, #zoom-view-container .page canvas {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
#loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
#zoom-content {
    cursor: grab;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#zoom-content.grabbing {
    cursor: grabbing;
}
#bookmarks-list::-webkit-scrollbar, #notes-list-container::-webkit-scrollbar { display: none; }
#bookmarks-list, #notes-list-container { -ms-overflow-style: none; scrollbar-width: none; }
#ribbon-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    pointer-events: none;
    z-index: 20; /* Aumentado para garantir que fique sobre o flipbook */
}
.ribbon-marker {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s;
    pointer-events: auto; /* Permite que o mouse interaja com a fita */
    cursor: pointer;
}
